<footer>
  <span>©Matija Osojnik 2020/2021</span>
</footer>
<script>
  $(document).ready(function () {
    // get current URL path and assign 'active' class
    var pathname = window.location.pathname;
    $('.nav-link > li > a[href="' + pathname + '"]').parent().addClass('active');
  });
</script>
  </body>
</html>