<%- include('../partials/nested-header.ejs') %>
<link rel="stylesheet" href="/css/styles/learn.css">
</head>

<body>
    <div class="main">
        <%-// include('../partials/navbar.ejs') %>
        <a href="/learn"><i class="fas fa-angle-left arrow-back fa-2x"></i></a>
        <section id="header">
            <div class="container-fluid">
                <div class="title-container">
                    <h1 class="germantext">Coffee Shop</h1>
                </div>
                <div class="subtitle-container">
                    <h4 class="subtitle">Let's order our first coffee!</h4>
                </div>
            </div>
        </section>
    </div>
    <%- include("../partials/particles") %>
    <%- include('../partials/footer.ejs') %>
</body>