<%- include("partials/header") %>
<link rel="stylesheet" href="css/styles/main.css">
</head>
<body>
    <div class="main">
        <%- include("partials/navbar") %>
        <div id="header">
            <div class="container">
                <h3>Created with <i class="fas fa-heart" style="color: #fe346e;"></i></h3>
            </div>
        </div>
    </div>
<%- include("partials/particles") %>
<%- include("partials/footer") %>