<link rel="stylesheet" href="css/styles/dashboard_style.css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Sen&display=swap" rel="stylesheet">
<body> 
    <div class="main">
        <div class="container">
            <h2>
                Nastanek <span class="css-kratica">CSS</span>-a
            </h2>
        </div>
        <div class="container-upper">
            <p>
                Cascading Style Sheets (sl. kaskadne stilske podloge) poznane pod kratico <span class="css-kratica">CSS</span> so podloge, predstavljene v obliki
                preprostega slogovnega jezika, ki skrbi za prezentacijo spletnih strani. Z njimi definiramo stil <span class="html-kratica">HTML</span> oz. <span class="html-kratica">XHTML</span>
                elementov v smislu pravil, kako se naj ti prikažejo na strani. Določamo lahko barve, velikosti, odmike,
                poravnave, obrobe, pozicije in vrsto drugih atributov, prav tako pa lahko nadziramo aktivnosti, ki jih uporabnik
                nad elementi strani izvaja (npr. prekritje povezave z miško). Podloge so bile razvite z namenom konsistentnega
                načina podajanja informacij o stilu spletnim dokumentom.
            </p>
        </div>
        <div class="container-center">
            <p>
                Bistvo uporabe <span class="css-kratica">CSS</span> je poleg defirniranja pravil, pred vsem ločitev strukture strani - ki jo podaja označevalni jezik
                skupaj z vsebino - od njene predstavitve. S tem omogočimo lažje urejanje in dodajanje stilov ter poskrbimo za večjo
                preglednost dokumentov temelječih na <span class="html-kratica">HTML</span> sintaksi. Prav tako zmanjšamo ponavljanja kode, saj omogočimo množici strani
                uporabo istih podlog, kar lahko bistveno zmanjša njihovo velikost.
            </p>
        </div>
        <div class="container-bottom">
            <p>
                Specifikacija in vzdrževanje <span class="css-kratica">CSS</span> je v rokah skupine <span class="css-kratica">CSS</span> Working Group znotraj organizacije World Wide Web Consoritum
                (W3C)[1]. Specifikacijo <span style="text-transform: capitalize; color: rgb(98, 233, 36)">uradno</span> potrdijo
                člani W3C[2] (podjetja kot so Adobe, IBM, Microsoft ... ) in tako
                nastanejo <span class="css-kratica">CSS</span> priporočila. Ta pa niso omejena samo na internetnih brskalnikih, uporabljajo se tudi v programih za pisanje dokumentov
                in elektronskih preglednic kakor tudi na napravah, kot so prenosni telefoni in PDA-ji.
            </p>
        </div>
    </div>
</body>