<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="css/styles/learn.css">
<!-- Carousel -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

</head>
<body>
<div class="main">
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="title-container">
            <h2 class="title">Welcome!</h2>
        </div>
        <div class="subtitle-container">
            <h2 class="subtitle">Ready to learn a few german phrases?</h2>
        </div>
    </div>
    <!-- <div id="recomendations" class="flex-container">
        <div class="item-container">
            <div>
            <h5>This is pretty cool</h5>
            </div>
        </div>
        <div class="item-container">
            <div>
            <h5>This is even cooler</h5>
            </div>
        </div>
        <div class="item-container">
            <div>
            <h5>The coolest thing ever</h5>
            </div>
        </div>
        <div class="item-container">
            <div>
            <h5>Recommended by the world!</h3>
            </div>
        </div>
    </div> -->
</div>
<%- include("partials/particles") %>
<%- include('partials/footer.ejs') %>
</body>