<%- include("partials/header") %>
<link rel="stylesheet" href="css/styles/main.css">
</head>

<body>
    <div class="main">
        <%- include("partials/navbar.ejs") %>

        <section id="header">
            <div class="container-fluid">
                <h1>Language learning, simplified.</h1>
                <hr class="my-4">
            </div>
        </section>

        <section id="features">
            <div class="container friendly">
                <h2 class="germantext">Beginner Friendly</h2>
                <h4 class="subtext">Start with the easy phrases and level up as you master the language!</h4>
                <div class="group-img">
                    <div class="">
                        <img class="friendly-img" src="images/wilderness.svg" alt="">
                    </div>
                    <!-- <form action="/learn">
                        <button id="restart" class="submitBtn">Join us</button>
                    </form> -->
                </div>

            </div>
            <div class="container friendly">
                <h2 class="germantext">Minimalistic</h2>
                <h4 class="subtext">Don't let yourself get disturbed by all the FLASHY things</h4>
                <div class="group-img">
                    <img class="friendly-img" src="images/lazy.svg" alt="">
                </div>
            </div>
            <div class="container friendly">
                <h2 class="germantext">Chat Rooms</h2>
                <h4 class="subtext">Meet others like you and progress together!</h4>
                <div class="group-img">
                    <img class="friendly-img" src="images/chat.svg" alt="">
                </div>
                <a href="/learn"><button class="submitBtn">Start learning</button></a>
            </div>
        </section>
    </div>
    <%- include("partials/particles") %>
    <%- include("partials/footer") %>