<%- include("partials/header") %>
<link rel="stylesheet" href="css/styles/main.css">
</head>
<body>
    <div class="main">
        <%- include("partials/navbar.ejs") %>
        <div id="header">
            <div class="container">
                <h1>Language learning, simplified.</h1>
                <hr class="my-4">
                <h2 class="germantext">Quickly learn the most practical phrases in German</h2>
            </div>
        </div>
                    <!-- <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <h1>HEY</h1>
                    </div>
                    <div class="col-md-4">
                        <h1>BABY</h1>
                    </div>
                    <div class="col-md-4">
                        <h1>GIRL</h1>
                    </div>
                </div>
            </div> -->
    </div>
<%- include("partials/particles") %>
<%- include("partials/footer") %>