body {
    background-color: #eeeeee;
    height: 100vh;
    padding: 0;
    margin: 0;
}
h2 {
    text-decoration: overline;
    text-align:center;
    text-shadow: antiquewhite;
    color: #1089ff;
    font-family: "Sen";
    line-height: 1.5;
}
p {
    letter-spacing: 0.3;
    line-height: 1.3;
    font-family: "Sen";
}
.main{
    background-color: #eeeeee;
    color: #3a3535;
}
.container, .container-upper, .container-center, .container-bottom {
    margin: 2rem;
    transition: ease-in 2s;
}
.container:hover h2{
    transition: ease-in-out 2s all;
        color: #01d28e;
}
.container-upper{
    text-align: left;
}
.container-center{
    text-align:right;
}
.container-bottom{
    text-align: justify;
}
.css-kratica {
    color: white;
    background-color: rgba(255, 0, 0, 0.7);
}
.html-kratica {
    color: yellow;
    background-color: #000080;
}
