<%- include('../../partials/nested-header.ejs') %>
<link rel="stylesheet" href="/css/styles/learn_partials.css">
<link rel="stylesheet" href="/css/styles/learn_lessons.css">
</head>

<body>
    <div class="main">
        <a href="/learn/cinema"><i class="fas fa-angle-left arrow-back fa-2x"></i></a>
        <div class="container-content">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body text-white">
                    <h3 class="card-title">Coordinating conjunctions</h3>
                    <p class="card-text"">
                        Coordinating conjunctions form a group of coordinators (like und (and), aber (but)),
                        which
                        combine two items of equal
                        importance; here, each clause can stand on its own and the word order does not
                        change.
                    </p>
                    <ul>
                        <li>Ich mag Schokolade. Sie mag Pizza.</li>
                        <li>Ich mag Schokolade und sie mag Pizza.</li>
                    </ul>
                    <p>
                        Examples: <em>und, oder, aber, denn</em>
                    </p>
                </div>
            </div>
        </div>
        <div class=" container-content">
                        <div class="card text-dark bg-light mb-3">
                            <div class="card-body">
                                <h3 class="card-title">
                                    Subordinating conjunctions
                                </h3>
                                <p class="card-text">
                                    <strong>Subordinating conjunctions</strong> combine an independent clause with a
                                    dependent
                                    clause; the
                                    dependent
                                    clause cannot stand on its own and its word order will be different than if it did.
                                    In these
                                    subordinate clauses, the verb switches from the second position to the last.
                                </p>
                                <ul>
                                    <li>Ich bin gesund. Ich laufe oft.</li>
                                    <li>Ich bin gesund, weil ich oft laufe.
                                    <li>Ich spreche gut Deutsch. Ich lerne oft Deutsch.</li>
                                    <li>Ich spreche gut Deutsch, weil ich oft Deutsch lerne.</li>
                                </ul>
                                <p>
                                    Examples: <em>weil, wenn, dass, obwohl</em>
                                </p>
                            </div>
                        </div>
                </div>

            </div>
            <div class="container-content" style="text-align: center;">
                <form action="/practice">
                <button class="submitBtn" style="width: auto;">
                    Complete
                </button>
                </form>
            </div>
            <%- include("../../partials/particles") %>
            <%- include('../../partials/footer.ejs') %>
</body>